body{
    background-color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Encabezado{
    text-align: center;
    color: whitesmoke;
}

.divTabla{
    background-color: aliceblue;
    width: 90%;
    padding: 20px;

    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
}

#tabla{
    background-color: #EBF5FB;
}

.encabezadoTabla{
    background-color: #2471A3 ;
    
}

.encabezadoTabla th{
    padding: 5px;
    color: whitesmoke;
}

.resultados{
    background-color: #AED6F1;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: dodgerblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: rgb(0, 128, 255)}
  
  .button:active {
    background-color: dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
